* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    margin: 3rem auto;
}

.slider {
    position: relative;
}

.slider h2 {
    font-size: 2rem;
}

.slider h2,
.slider p {
    padding: 1rem 0;
}

.slider img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.slider img:not(.active),
.slider h2:not(.active),
.slider p:not(.active) {
    display: none;
}

.controls {
    display: flex;
    justify-content: space-around;
}

.controls {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%)
}

.next,
.prev {
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.701);
    border-radius: 50%;
    aspect-ratio: 1/1;
    margin: 0 200%;
    color: white;
}

.next:hover,
.prev:hover {
    cursor: pointer;
}